apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-menu
  namespace: digital-menu-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-menu
  template:
    metadata:
      labels:
        app: postgres-menu
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_DB_MENU
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: postgres-config
              key: POSTGRES_PASSWORD
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-menu-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-menu
  namespace: digital-menu-system
spec:
  selector:
    app: postgres-menu
  ports:
  - port: 5432
    targetPort: 5432

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-menu-pvc
  namespace: digital-menu-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi